<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FamFamFam.Flags.Wpf" version="1.1.2" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
</packages>